<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

	<menuitem title="Neyu Demo" name="menu-neyu-root" />
	<menuitem title="My Team" name="menu-neyu-my-team" action="neyu.my.team.all" order="0" parent="menu-neyu-root" />
	<menuitem title="All Team Management" name="menu-neyu-user-management" action="neyu.user.management.all" order="1" parent="menu-neyu-root" />

	<action-view title="All Team Management" name="neyu.user.management.all" model="com.axelor.auth.db.User">
		<view name="neyu-user-grid" type="grid" />
		<view name="neyu-user-form-test" type="form" />
	</action-view>

	<action-view title="My Team" name="neyu.my.team.all" model="com.axelor.auth.db.User">
		<view name="neyu-user-grid" type="grid" />
		<view name="neyu-user-form-test" type="form" />
		<domain> :_userTeamId IS NOT NULL AND self.activeTeam.id = :_userTeamId)</domain>
		<context name="_userTeamId" expr="eval: __user__.activeTeam?.id" />
	</action-view>
</object-views>
